body {
    background: #202020;
}
@font-face {
    font-family: Exo;
    src: url(Exo-VariableFont_wght.ttf);
  }
h1 {
    font-family: Exo;
    color: white;
}
img {
    border-radius:400px;
    float: right;
    margin-right: 55px;
    margin-top: 55px;
    font-weight:normal;
}
h5 {
    font-family: Exo;
    color: white;
    margin-left: 55px;
}
.square {
    background-color: #696969;
    float: right;
    margin-top: 8vh;
    height: 40vh;
    width: 40vh;
  }
.square-1 {
    background-color: #555;
    float: right;
    margin-top: 8vh;
    height: 50vh;
    width: 50vh;
  }
.square-2 {
    background-color: #808080;
    float: right;
    margin-top: 8vh;
    height: 20vh;
    width: 20vh;
}
.square-3 {
    background-color: #A9A9A9;
    float: right;
    margin-top: 8vh;
    height: 10vh;
    width: 10vh;
}
